//IMPORTING ALL SASS MODULES    
@import umokkur
@import reset
@import navbar

header
    background-color: red
    height: 100vh
    width: 100vw

//LANDING PAGE
.header__content
    display: flex
    flex-direction: column
    max-width: 150px
    margin: 0 auto
    padding-top: 20px

.service
    display: flex
    flex-direction: column
    height: 200px
    max-width: 300px
    margin: 0 auto
    text-align: center
    justify-content: center
    *
        margin: 1rem

