// DECLARING VARIABLES
$main-color: #2c2c2c
$secondary-color: #FFBA3A
.container
    display: flex
    flex-direction: column

.img_container
    max-height: 300px
    margin: 0 auto
    overflow: hidden
.header__img
    width: 100vw
    max-width: 1200px

    margin-top: 30px

.titill
    display: flex
    justify-content: center
    font-family: Montserrat
    font-weight: bold
    font-weight: 600
    font-size: 30px
    color: $main-color
    margin-top: 40px

.umokkur__content
    display: flex
    justify-content: center
    text-align: left
    max-width: 340px
    margin: 2rem auto
    font-family: Montserrat
    font-weight: regular
    line-height: 34px
    letter-spacing: 0.05em
    @media only screen and (min-width: 768px)
        max-width: 600px
        min-height: 300px
